<!doctype html>
<html  ng-app='Ex1App'>
  <head>
    <meta charset="utf-8">
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller='Ex1Controller'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lanch">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="testLanch()">Check If Too Much</button>
         </div>
         <div >
          {{msg}}
         </div>
   </div>

</body>
</html>
